<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1> Gestor de Filmes </h1>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true" #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="filme">
          <mat-icon class="menu-item">movie_filter</mat-icon>
          Filmes
        </a>
        <!-- <a mat-list-item routerLink="genero">
          <mat-icon class="menu-item">add</mat-icon>
          Gênero
        </a> -->
        <a mat-list-item routerLink="sobre">
          <mat-icon class="menu-item">bookmark</mat-icon>
          Sobre
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="min-height: calc(100vh - 64px); padding: 16px;">

        <mat-card class="mat-elevation-z20">
          <router-outlet></router-outlet>
        </mat-card>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
